/* This file is for your main application css. */

body {

  padding-top:30px;
}
header {
  font-size:30px;
  position:relative;
}

nav {
  position:absolute;
  right:0px;
  top:0px;
  font-size: 20px;
  text-align:right;
  padding-top:10px;
  padding-right:4px;
}

nav li {
  display: inline-block;
}
nav li a {
  margin-left:10px;
  color:black;
}
nav li a:hover {
  color: #a3e0ff;
}


.intro-header {
  padding-bottom:20px;
  font-size:80px;
}

.ice {
  color:black;
}
.ice:hover {
  color:#a3e0ff;
  text-decoration:none;
}
.ice:active {
  color:#a3e0ff;
  text-decoration:none;
}

.ice::before {
  content: "ice";
  color: #a3e0ff;
}

/* Fragments */

.fragment {
  width:160px;
  height:160px;
  margin:6px;
  display: inline-block;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  overflow:hidden;
  position:relative;
}

.fragment::before {
  content: "";
  position:absolute;
  width:160px;
  height:160px;
  box-shadow: 0px -10px 20px 3px white inset;
}

.fragment:hover h2 {
  color: #ff3d8d;
}

a:active , a:focus {
  outline: none;
}

.fragment h2 {
  margin:0;
  padding: 0;
  padding-top:60px;
  color: black;
  text-align:center;
  line-height:23px;
}

.fragment-plus h2 {
  font-size:90px;
  color: #a3e0ff;
}

.current_user {
  color:  #ff3d8d;
  font-weight: bold;
  margin-left:20px;

}
